body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #1A1D1A;
    color: white;
    text-align: center;
}

img{
    cursor: pointer;
}

footer{
    margin-top: 1.5%;
}

a{
    color: gray;
    text-decoration: none;
}